<%- if answer.errors.any? %>
  <div class="message is-danger">
    <ul class="message-body">
      <%- answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
