<div class="flex justify-between items-center">
  <h1 class="font-bold"><%= @questions.count %> Question(s)</h1>
  <%= link_to "New Question", new_survey_question_path(@survey) %>
</div>

<hr class="my-3"/>

<% if @questions.count == 0 %>
  <div class="text-center">Please add a few questions.</div>
<% else %>
  <%= render partial: "question", collection: @questions %>
<% end %>
