<div class="flex justify-between items-center">
  <h1 class="font-bold">Add a question</h1>

  <%= link_to "Back to questions", survey_questions_path(@survey) %>
</div>

<hr class="my-3" />

<%= render partial: 'form', locals: { form: @question_form, url: survey_questions_path(@survey), method: :post, submit_text: 'Create Question' } %>
