%h2
  Question Groups
  - if can_administer?
    .pull-right
      = link_to "New Group", new_question_group_path, class: "btn btn-primary btn-large"
%hr

%table.table.table-striped
  %colgroup
    %col
    %col{ width: "40%" }
  %thead
    %tr
      %th Question Group
      %th
  %tbody
    = render partial: "question_group", collection: @question_groups
