<div class="flex justify-between items-center">
  <h1 class="font-bold"><%= @surveys.count %> Survey(s)</h1>

  <% if can_administer? %>
    <%= link_to "New Survey", new_survey_path %>
  <% end %>
</div>

<hr class="my-3"/>

<% if @surveys.count == 0 %>
  <% if can_administer? %>
    <div class="text-center">It feels a bit lonely here. Add a new survey to continue.</div>
  <% else %>
    <div class="text-center">All clear here! No suveys available yet.</div>
  <% end %>
<% else %>
  <%= render partial: "survey", collection: @surveys.order(created_at: :desc) %>
  <%= paginate @surveys %>
<% end %>
