<div class="flex justify-between items-center">
  <h1 class="font-bold">Add a survey</h1>

  <%= link_to "Back to surveys", surveys_path %>
</div>

<hr class="my-3" />

<%= render partial: 'form', locals: { survey: @survey } %>
