<nav class="flex items-center justify-between p-4">
  <a href="/" class="inline-block">Rapidfire</a>
  <div class="flex gap-6 items-center">
    <% if user_signed_in? %>
      <%= link_to('Logout', '/users/sign_out', method: :delete) %>
    <% else %>
      <%= link_to('Login', '/users/sign_in') %>
    <% end %>
    <%= link_to('Github', 'https://github.com/code-mancers/rapidfire') %>
  </div>
</nav>
