<header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          Rapidfire
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
        <a class="button" href="/users/sign_up">
            Login
        </a>
        </p>
        <p class="level-item">
            <a class="button">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            <span>GitHub</span>
          </a>
        </p>
      </div>
    </nav>
  </div>
</header>
