<header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a href="/" class="title logo">Rapidfire</a>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"button") %>
          <% else %>
            <%= link_to('Login', new_user_registration_path, class:"button") %>
          <% end %>
        </p>
        <p class="level-item">
            <a class="button">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            <span>GitHub</span>
          </a>
        </p>
      </div>
    </nav>
  </div>
</header>
